.works{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    .top{
        display: flex;
        margin-left: 10%;
        h1{
            font-size: 6rem;
            padding-top: 20%;
        }
    }
    .bottom{
        display: flex;
        .textContainer{
            width: 600px;
            height:200px;
            display: flex;
            margin-left: 50%;
            margin-top: 20%;
            h3{
                display: flex;
                flex-wrap: wrap;
            }
        }
        
        
    }
}